<div class="flex flex-wrap mb-6">
    <h1 class="grow text-3xl md:text-4xl font-medium mb-2" i18n="@@student.edit.headline">Edit Student</h1>
    <div>
        <a routerLink="/students" class="inline-block text-white bg-gray-500 hover:bg-gray-600 focus:ring-gray-200 focus:ring-4 rounded px-5 py-2" i18n="@@student.edit.back">Back to list</a>
    </div>
</div>
<form [formGroup]="editForm" (ngSubmit)="handleSubmit()">
    <app-input-row [group]="editForm" field="id" rowType="number" i18n-label="@@student.id.label" label="Id" />
    <app-input-row [group]="editForm" field="name" i18n-label="@@student.name.label" label="Name" />
    <app-input-row [group]="editForm" field="email" i18n-label="@@student.email.label" label="Email" />
    <app-input-row [group]="editForm" field="courses" rowType="multiselect" [options]="coursesValues" i18n-label="@@student.courses.label" label="Courses" />
    <input type="submit" i18n-value="@@student.edit.headline" value="Edit Student" class="inline-block text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-300  focus:ring-4 rounded px-5 py-2 mt-6" />
</form>
